*{
    padding: 0;
    margin : 0;
    box-sizing : border-box;
}

body {
    background: white;
    font-family: 'calibri';
}

header {
    background: #03A9F4;
    width: 100%;
    clear: both;
    content: '';
    display: table;
}

.menu {
    width: 900px;
    margin: 0 auto;
}

img{
    width: 120px;
    height: 100px;
    float: left;
    padding: 8px;
}

nav {
    float: right;
}

nav  ul li {
    list-style: none;
    margin-left: 25px;
    padding: 25px 0;
    float: left;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
}

nav ul li a::before{
    display: block;
    content: '';
    width: 100%;
    background: #444;
    height: 5px;
}


/*
nav {
    float: right;
}

nav  ul li {
    list-style: none;
    margin-left: 25px;
    padding: 25px 0;
    float: left;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
}

nav ul li a::before{
    display: block;
    content: '';
    width: 100%;
    background: #444;
    height: 5px;
}
*/
