html, body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(-45deg, #394799, #05216e, #106f92, #0300bd);
      background-size: 400% 400%;
      animation: gradiente 15s ease infinite;
      font-family: 'Rubik';
      color: white;
  }
  
  @keyframes gradiente {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }