::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-button {
    width: 100px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    transition: 0.5s;
    background: var(--blanco);
    border: 0px none transparent;
    border-radius: 17px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(136, 136, 136);
    transition: 0.5s;
}

::-webkit-scrollbar-track {
    background: #044487;
    border-radius: 0px;
}


::-webkit-scrollbar-corner {
    background: transparent;
}