html, body {
    height:99%;
}
  
body {
    background: linear-gradient(-45deg, #394799, #05216e, #106f92, #0300bd);
    background-size: 400% 400%;
    animation: gradiente 15s ease infinite;
    font-family: 'Rubik';
    color: var(--blanco);
    font-size: 20px;
}

a:link, a:visited, a:active {
    color: var(--blanco);
    text-decoration: none;
}

.texto{
    text-align: center;
}

a {
    transition: var(--efecto);
    border: 1px solid var(--blanco);
    border-radius: 5px;
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}

a:hover {
    transition: var(--efecto);
    background-color: var(--blanco);
    color: var(--main);
}