html, body {
    height:99%;
    scroll-behavior: smooth;
}
  
body {
    background: linear-gradient(-45deg, #172855, #05216e, #00bddf);
    background-size: 400% 400%;
    animation: gradiente 10s ease infinite;
    font-family: 'Rubik';
    color: var(--blanco);
    font-size: 20px;
}

a:link, a:visited, a:active {
    color: var(--blanco);
    text-decoration: none;
}

.texto{
    text-align: center;
}

a {
    transition: var(--efecto);
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}

.peq {
    font-size: 14px;
}

a:hover {
    transition: var(--efecto);
    background-color: var(--blanco);
    color: var(--main);
}

.container {
    margin-top: 2rem;
}