*{
    padding: 0;
    margin : 0;
    box-sizing : border-box;
}

header {
    background: #00aeff;
    width: 100%;
    clear: both;
    content: '';
    display: table;
    font-size: large;
}

body {
    margin-left: 0px;
    background: #aebfcc;
    font-family: 'calibri';
    font-size: large;
}

h1{
    font-size: large;
    margin: 0;
    padding: 0;
    display: flex; 
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}

iframe{
    
    margin-left: 40px;
}

.menu {
    width: 900px;
    margin: 0px;
}

img{
    padding: 8px;
}

nav {
    float: right;
}

nav ul li {
    list-style: none;
    margin-left: 25px;
    padding: 25px 0;
    float: left;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: rgb(53, 52, 52);
    font-weight: bold;
}

nav ul li a::before{
    display: block;
    content: '';
    width: 0%;
    background: rgb(0, 171, 245);
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 0.2s;
    
}

nav ul li a:hover::before{
    width: 100%;
}
