/* Importando fuente */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/* Definiendo colores en variables para reutilizarlos */
:root {
    --blanco: #fff;
    --efecto: 0.5s;
    --main: #394799;
}

@media (max-width: 546px) {
    .nav {
        display: none;
    }
}
@media (min-width: 545px) {
    .nav {
        display: block;
    }
}
  
  @keyframes gradiente {
      0% {
          background-position: 0% 50%;
      }
      25% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }